:root {
  --primary: #86c232;
  --secondary: #61892f;
  --dark: #222629;
  --gray: #686e70;
  --gray-dark: #2f3336;
  --asdasd: #212529;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-track {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

.navbar {
  background-color: var(--dark);
}

.navbar-brand {
  color: var(--primary);
  cursor: pointer;
}

.navbar .nav-link.active {
  color: var(--primary);
}

.jumbotron {
  padding-top: 6rem;
  /* background-color: #2e3336; */
  background-color: var(--gray-dark);
  color: white;
}

#portfolio {
  background-color: var(--gray-dark);
}

#portfolio .card-img-top {
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 300px;
  background-color: greenyellow;
}

section {
  padding-top: 5rem;
}

#portfolio .scroll-container {
  height: 520px;
  display: flex;
  overflow: auto;
  scroll-snap-type: x proximity;
}

#portfolio .scroll-container,
#portfolio .scroll-area {
  margin: 0 auto;
}

#portfolio .scroll-area {
  flex: 0 0 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0 12px;
}

#portfolio .scroll-area img {
  height: 500px;
}

#contact svg path {
  color: var(--gray-dark);
}

footer {
  background-color: var(--dark);
}

footer a {
  color: var(--primary);
}
