.jumbotron {
  padding-top: 6rem;
  background-color: #2e3336;
  color: white;
}

#project {
  background-color: #2e3336;
}

section {
  padding-top: 5rem;
}

#project .scroll-container {
  height: 500px;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

#project .scroll-container,
#project .scroll-area {
  margin: 0 auto;
}

#project .scroll-area {
  flex: 0 0 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0 12px;
}

#project .scroll-area img {
  height: 500px;
}
